.Toast__container {
  align-items: center;
  background-color: rgba(#4c4c4c, 0);
  display: flex;
  justify-content: center;
  bottom: 0;
  position: fixed;
  right: 32px;
  z-index: 999999;
}

.Toast__bread {
  background-color: #ffffff;
  box-shadow: 0 0 16px #cccccc;
  height: 88px;
  padding: 16px;
  width: 272px;
}

.Toast__message {
  color: #666666;
  font-size: 14px;
  margin: 0 0 0 32px;
}

/* transitions - slide up/down */
.Toast__enter {
  transform: translate3d(0, 100%, 0);
}
.Toast__enter--active {
  transform: translate3d(0, 0, 0);
  transition: all .2s ease-in;
}
.Toast__exit {}
.Toast__exit--active {
  transform: translate3d(0, 100%, 0);
  transition: all .2s ease-out;
}