.App__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  padding: 32px;
}

.App__navbar {
  align-items: stretch;
  display: flex;
  margin: 0 0 32px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.App__navbar__links {
  align-items: stretch;
  background-color: #4c4c4c;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #b2b2b2;
  display: flex;
  flex: 1;
  height: 40px;
  overflow: hidden;
  padding: 0 8px;
}

.App__navbar__link {
  align-items: center;
  color: #b2b2b2;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease-in-out;
  white-space: nowrap;
}
  
.App__navbar__link:hover,
.App__navbar__link--active {
  color: white;
}

.App__content {
  display: flex;
  flex: 1;
  height: 100%;
}