.Dispenser {}

.Dispenser__drinks {
  display: flex;
  margin: 16px 0 32px;
}

.Dispenser__extras {
  display: flex;
  margin: 16px 0 32px;
}

.Dispenser__message {
  opacity: 1;
  transition: opacity .2s ease-in-out;
}
.Dispenser__message--hidden {
  opacity: 0;
}
