body {
  color: #4c4c4c;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  align-items: center;
  background-color: #4c4c4c;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #b2b2b2;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 40px;
  margin: 0 16px 0 0;
  outline: none;
  padding: 0 16px;
  text-align: center;
  transition: all .2s ease-in-out;
  user-select: none;
  white-space: nowrap;
}
button:hover {
  background-color: #666666;
}
button:disabled {
  background-color: #b2b2b2;
  cursor: default;
}
button:disabled:hover {
  background-color: #b2b2b2;
}
button > span {
  font-size: 14px;
  margin: 0 0 0 8px;
}

input[type=radio],
input[type=checkbox] {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}
input[type=radio] + span,
input[type=checkbox] + span {
  align-items: center;
  background-color: white;
  border: 1px solid #4c4c4c;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #b2b2b2;
  color: #4c4c4c;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  height: 80px;
  justify-content: center;
  margin: 0 16px 0 0;
  outline: none;
  padding: 0;
  transition: all .2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 120px;
}
input[type=radio]:hover + span,
input[type=checkbox]:hover + span {
  background-color: #666666;
  border: 1px solid #666666;
  color: white;
}
input[type=radio]:checked + span,
input[type=checkbox]:checked + span {
  background-color: #4c4c4c;
  border: 1px solid #4c4c4c;
  color: white;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}
tr {
  background-color: white;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
  position: relative;
  transition: all .2s ease-in-out;
}
th {
  border-bottom: 1px solid #4c4c4c;
  border-top: 1px solid #4c4c4c;
  font-size: 12px;
  text-transform: capitalize;
  padding: 12px 16px;
  text-align: left;
}
td {
  padding: 12px 16px;
  text-align: left;
}